[submodule "æternity"]
	path = æternity
	url = git@github.com:aeternity/aeternity.git
[submodule "protocol"]
	path = protocol
	url = git@github.com:aeternity/protocol.git
[submodule "sdk-python"]
	path = sdk-python
	url = git@github.com:aeternity/aepp-sdk-python.git
[submodule "forgae"]
	path = forgae
	url = git@github.com:aeternity/aepp-forgae-js.git
[submodule "aepp-sophia-examples"]
	path = aepp-sophia-examples
	url = git@github.com:aeternity/aepp-sophia-examples.git
[submodule "tutorials"]
	path = tutorials
	url = git@github.com:aeternity/tutorials.git
[submodule "api-docs"]
	path = api-docs
	url = git@github.com:aeternity/api-docs.git
[submodule "aepp-faucet"]
	path = aepp-faucet
	url = git@github.com:aeternity/aepp-faucet.git
[submodule "aepp-contracts"]
	path = aepp-contracts
	url = git@github.com:aeternity/aepp-contracts.git
[submodule "aepp-components"]
	path = aepp-components
	url = git@github.com:aeternity/aepp-components.git
[submodule "aepp-middleware"]
	path = aepp-middleware
	url = git@github.com:aeternity/aepp-middleware.git
[submodule "aetmodel"]
	path = aetmodel
	url = git@github.com:aeternity/aetmodel.git
[submodule "aesophia"]
	path = aesophia
	url = git@github.com:aeternity/aesophia.git
[submodule "airgap-coin-lib"]
	path = airgap-coin-lib
	url = git@github.com:airgap-it/airgap-coin-lib.git
[submodule "airgap-wallet"]
	path = airgap-wallet
	url = git@github.com:airgap-it/airgap-wallet.git
[submodule "airgap-vault"]
	path = airgap-vault
	url = git@github.com:airgap-it/airgap-vault.git
[submodule "aepp-sdk-java"]
	path = aepp-sdk-java
	url = git@github.com:kryptokrauts/aepp-sdk-java.git
[submodule "AEXs"]
	path = AEXs
	url = git@github.com:aeternity/AEXs.git
[submodule "aepp-sdk-js"]
	path = aepp-sdk-js
	url = git@github.com:aeternity/aepp-sdk-js.git
[submodule "aepp-sdk-go"]
	path = aepp-sdk-go
	url = git@github.com:aeternity/aepp-sdk-go.git
[submodule "aepp-sdk-elixir"]
	path = aepp-sdk-elixir
	url = git@github.com:aeternity/aepp-sdk-elixir
